$c-page = #f2f2f2
$c-main-text = rgba(0, 0, 0, 0.87)
$c-secondary-text = rgba(0, 0, 0, 0.57)
$c-placeholder = rgba(0, 0, 0, 0.37)
$c-text-btn = rgba(0, 0, 0, 0.37)
$c-text-btn-hover = rgba(0, 0, 0, 0.47)
$c-text-btn-active = rgba(0, 0, 0, 0.87)
$c-accent = #00aa87
$c-accent-hover = #00816c
$c-accent-active = #006554
$c-btn = #00aa87
$c-btn-hover = #00816c
$c-btn-active = #006554
$c-border = rgba(0, 0, 0, 0.12)
$c-border-hover = rgba(0, 0, 0, 0.37)
$c-border-error = #f05c5c
$c-lines = rgba(0, 0, 0, 0.12)

$shadow = 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.12)
$shadow-active = 0 8px 8px 0 rgba(0, 0, 0, 0.12), 0 0 8px 0 rgba(0, 0, 0, 0.12)
$shadow-modal = 0 24px 24px 0 rgba(0, 0, 0, 0.24), 0 0 24px 0 rgba(0, 0, 0, 0.12)

$roboto = 'Roboto', sans-serif
$ag = 'Akzidenz-Grotesk Pro Medium', sans-serif