@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&subset=cyrillic')

@import 'base/fonts'
@import 'base/normalize.css'
@import 'base/vars'
@import 'base/page'
@import 'base/base'
@import 'base/form-elements'

@import 'blocks/project-filters'
@import 'blocks/entries-list'
@import 'blocks/entry'
@import 'blocks/modal'
